html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #e8e8e8;
  overflow: hidden;
}

table.Main {
	width: 100%;
	height: 100%;
	background: white;
}

table.LeftPanel {
	width: 150px;
	height: 100%;
	background: #19478a;
}

table.LeftPanel td {
	vertical-align: top;
}

div.Buttons {
	width: 150px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	top: 70px;
	bottom: 4px;
}

a.ReportButton {
	width: 100%;
	cursor: pointer;
	display: block;
	text-align: center;
	margin: 15px 0 15px 0;
	padding: 5px 0 5px 0;
}

a.ReportButton.Selected {
	background: #11315f;
}

a.ReportButton.Over {
	background: #3b629b;
}

a.ReportButton table {
	margin: 5px auto;
}

a.ReportButton img {
	text-align: center;
	border: 1px solid #ffffff;
	margin : 3px;
}

a.ReportButton td.Caption {
	padding: 0 5px 0 5px;
	font-family: Arial;
	font-size: 9pt;
	color: #ffffff;
	display: block;
	text-align: center;
}

